div {
    width: 80%;
}
div:nth-child(odd) p:nth-child(odd) {
    color: white;
    background-image: radial-gradient(yellow,red);
    display: none;
}
div:nth-child(even) p:nth-child(even) {
    color: white;
    background-image: radial-gradient(yellow,black);
}
p{
    width: 20px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 4px;
    display: inline-block;
    text-align: censter;
}

