p {
    padding: .2em;
    border: 1px solid #aaa;
    width: 1em;
    text-align: center;
}
div {
    padding: auto;
}
div#row1 {
    display: flex;
} 
div#row1 p {
    -ms-flex: 1;  /* IE 10 */  
    flex: 1;
}
table{
    margin: 20px auto;
    text-align: center;
}