.kartya{
    background-image:linear-gradient(#ff7f50,#ffdead);
    width: 7cm;
    height: 14cm;
    margin: 10px;
    padding: 5px;
    display: inline-table;
}
body{
    background-image: linear-gradient(#7db9e8, #1e5799);
}
h2{
    background-color:#ff7f50 ;
    color: #2f4f4f;
    font-family: arial;
    font-size: 12;
    border-bottom-style: dotted;
}
h1{
    font-family: georgia;
    font-size: 16pt;
}
li{
    font-family: georgia;
}
p{
    font-family: arial;
}
img{
    width: 160px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

